/* STYLE SECTIONING TAGS */
*{
  margin: 0px;
  padding: 0px;
}

nav
{
  text-align:center;
}

ul
{
  list-style-type:none;
  background-color:#FEEBDA;
  overflow hidden;
  padding: 1em;
}

li
{
  display:inline;
}

li a
{
  background-color:white;
  color: #7DAED5;
  border: 2px solid#7DAED5;
  text-align: center;
  font-size: 1.5em;
  padding: 0.3em;
  text-decoration:none;
  display: inline-block;
}

li a:hover
{
  color:hotpink;
  border: 2px solid hotpink;
  background:white;
}

a:active 
{
  color: blue;
}

header
{
  text-align:center;
}

h1 
  {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    font-weight: 900;
    padding-top: 1em;
    padding-bottom: 1em;
    text-shadow: 2px 2px 5px black;
    color: coral;
  }

.headerIMG
  {
    max-width: 300px;
    border-radius:25%;
    border: 3px solid  black;
    margin-bottom: 3%;
  }  

body 
{
  background-image: linear-gradient(#fffafa, white);
}

/* STYLE TEXT */


main
{
  background-color:#86c0cb; 
}
p
{
  color: white;
  line-height: 150%;
  font-size: 30px;
  text-decoration: underline dotted;
  padding-top: 0.5em;
  padding-bottom:0.5em;
  padding-right:1em;
  padding-left:1em;
  margin-left: 10%;
  margin-right:10%; 
}

.portfolioPicture
{
  border-radius: 20%;
  max-width: 500px;
  margin-bottom: 3%;
}

#name
{
  color:#c44d0b;
  font-family: 'Mochiy Pop One', sans-serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
article
{
  padding: 3em;
}

h4
{
  text-align: center;
}

/* STYLE IMAGES */

/* STYLE NAV BAR */